.lista-projetos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;

}

@media (max-width: 1165px) {
    #projetos {
        height: 100vh;
    }
}

@media (max-width: 765px) {
    #projetos {
        height: 150vh !important;
    }
}

.projeto-elemento {
    width: 350px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    align-items: end;
    border-radius: 10px;
}

.projeto-elemento>div>a {
    text-decoration: none;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.projeto-elemento>div {
    justify-content: space-around;
    display: flex;
    width: 100%;
}

#YU-GI-OH {
    background-image: url(../IMG/Captura\ de\ tela\ 2025-02-03\ 204246.png);
}

#Landingpage {
    background-image: url(../IMG/Captura\ de\ tela\ 2025-02-03\ 204152.png);
}

#embreve {
    background-image: url(../IMG/embreve.webp);
}