.lista-projetos {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;

}

@media (max-width: 1165px) {
    #projetos {
        height: 100vh;
    }
}

@media (max-width: 765px) {
    #projetos {
        height: 150vh !important;
    }
}

.projeto-elemento {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
}

.projeto-elemento:hover {
    transform: scale(1.2);
    transition: 0.5s;
    
}

.projeto-elemento p {
    opacity: 0;
}

.projeto-elemento:hover p {
    opacity: 1;
}

#YU-GI-OH{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#YU-GI-OH img{
    width: 100%;
}

#Landingpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Landingpage img{
    width: 100%;
}

#Clone_Banco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Clone_Banco img{
    width: 100%;
}