#habilidades,
#projetos {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
    gap: 40px;
    max-width: 1169px;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#mim {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    gap: 40px;
    max-width: 1169px;
    height: 100vh;
    overflow: hidden; 
    position: relative;
}

/*SOBRE MIM*/

#mim h1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  text-align: center;
}

@media (max-width: 768px) {
    #mim {
        text-align: center;
        padding: 0px 25px;
        width: 100%;
        height: 110vh;
    }
}
@media (max-width: 768px) {

}

.text-mim{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.redes-sociais{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.direita-img{
    display: flex;
}

.direita-img img{
    width: 400px;
    border-radius: 100%;
    opacity: 90%;
    margin-left: 40px;
}

/*HABILIDADES*/

.lista-habilidades {
    font-size: 24px;
    gap: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.lista-habilidades>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 150px;
    height: 100px;
    gap: 10px;
}

@media (max-width: 768px) {
    #habilidades {
        width: 100%;
        height: 100vh;
    }
    .lista-habilidades img{
        width: 80px;
    }
}