#habilidades,
#projetos {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
    gap: 40px;
    max-width: 1169px;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#mim {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    font-weight: 700;
    font-size: 18px;
    overflow: hidden; 
    position: relative;
}

/*SOBRE MIM*/

#mim h1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  text-align: center;
}

@media (max-width: 1050px) {
    #mim {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 1000px) {
    #mim {
        flex-direction: column;
        height: 130vh;
    }
    .text-mim p{
        text-align: center;
    }
}
@media (max-width: 550px) {
    #mim {
        height: 120vh;
    }
    .text-mim {
        width: 400px !important;
    }
    .text-mim p{
        font-size: 18px;
    }
}
@media (max-width: 415px) {
    .direita-img img{
        margin-right: 10px !important;
    }
}

.text-mim{
    width: 500px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    gap: 20px;
    margin-top: 80px;
}

.redes-sociais{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.direita-img {
    width: 100%;
    text-align: center; 
}

.direita-img img{
    width: 400px;
    height: 400px;
    opacity: 90%;
    margin: 80px auto 0 auto;
}

/*HABILIDADES*/

.lista-habilidades {
    font-size: 24px;
    gap: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.lista-habilidades>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 150px;
    height: 100px;
    gap: 10px;
}

@media (max-width: 768px) {
    #habilidades {
        width: 100%;
        height: 100vh;
    }
    .lista-habilidades img{
        width: 80px;
    }
}